# Data Cleaning – Bharat Herald Media Survival Analysis

## This notebook contains the steps for cleaning and preparing the datasets using Python and Pandas.

### Import Libraries

In [2]:
import pandas as pd

### Load the print_sales dataset

In [3]:
print_sales = pd.read_excel("C:/Users/Arshad/Desktop/Datasets/CodeBasics/Challenge #17/Datasets/fact_print_sales.xlsx")
df = pd.DataFrame(print_sales)
print(df)

    edition_ID City_ID Language           State                Month  \
0       ED1005    C005    Hindi       Rajasthan  2023-05-01 00:00:00
1       ED1005    C005    Hindi       Rajasthan  2019-03-01 00:00:00
2       ED1001    C001    hindi   Uttar pradesh  2023-07-01 00:00:00
3       ED1003    C003    Hindi  Madhya_Pradesh  2023-07-01 00:00:00
4       ED1007    C007    Hindi       Jharkhand  2020-10-01 00:00:00
..         ...     ...      ...             ...                  ...
715     ED1001    C001    hindi   Uttar pradesh  2024-12-01 00:00:00
716     ED1002    C002  ENGLISH           Delhi  2021-11-01 00:00:00
717     ED1004    C004    Hindi           bihar  2023-07-01 00:00:00
718     ED1007    C007    Hindi       Jharkhand  2019-04-01 00:00:00
719     ED1002    C002  ENGLISH           Delhi  2021-07-01 00:00:00

    Copies_Sold  copies_returned  Net_Circulation
0        404389            13510           390879
1        492943            25024           467919
2        168893            12285           156608
3        216540            10117           206423
4        234563            13048           221515
..          ...              ...              ...
715   â‚¹152122             7049           145073
716      356211            25456           330755
717      203130            12260           190870
718      253719            16510           237209
719      348093            11620           336473

[720 rows x 8 columns]

### Reformat column headers to title case

In [5]:
df.columns = df.columns.str.title()
print(df)

    Edition_Id City_Id Language           State                Month  \
0       ED1005    C005    Hindi       Rajasthan  2023-05-01 00:00:00
1       ED1005    C005    Hindi       Rajasthan  2019-03-01 00:00:00
2       ED1001    C001    hindi   Uttar pradesh  2023-07-01 00:00:00
3       ED1003    C003    Hindi  Madhya_Pradesh  2023-07-01 00:00:00
4       ED1007    C007    Hindi       Jharkhand  2020-10-01 00:00:00
..         ...     ...      ...             ...                  ...
715     ED1001    C001    hindi   Uttar pradesh  2024-12-01 00:00:00
716     ED1002    C002  ENGLISH           Delhi  2021-11-01 00:00:00
717     ED1004    C004    Hindi           bihar  2023-07-01 00:00:00
718     ED1007    C007    Hindi       Jharkhand  2019-04-01 00:00:00
719     ED1002    C002  ENGLISH           Delhi  2021-07-01 00:00:00

    Copies_Sold  Copies_Returned  Net_Circulation
0        404389            13510           390879
1        492943            25024           467919
2        168893            12285           156608
3        216540            10117           206423
4        234563            13048           221515
..          ...              ...              ...
715   â‚¹152122             7049           145073
716      356211            25456           330755
717      203130            12260           190870
718      253719            16510           237209
719      348093            11620           336473

[720 rows x 8 columns]

### Check Data Information

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Edition_Id       720 non-null    object
 1   City_Id          720 non-null    object
 2   Language         720 non-null    object
 3   State            720 non-null    object
 4   Month            720 non-null    object
 5   Copies_Sold      720 non-null    object
 6   Copies_Returned  720 non-null    int64
 7   Net_Circulation  720 non-null    int64
dtypes: int64(2), object(6)
memory usage: 45.1+ KB
None

### Check Uniqueness of Columns

In [7]:
print(df['State'].unique())
print(df['Language'].unique())

['Rajasthan' 'Uttar pradesh' 'Madhya_Pradesh' 'Jharkhand' 'maharashtra'
 'Uttar-Pradesh' 'Delhi' 'gujarat' 'bihar' 'Uttar Pradesh']
['Hindi' 'hindi' 'english' 'ENGLISH']

### Format Language and State Values

In [8]:
columns_to_change = ['Language','State']
for col in columns_to_change:
    df[col] = df[col].str.title()
    
print(df)

    Edition_Id City_Id Language           State                Month  \
0       ED1005    C005    Hindi       Rajasthan  2023-05-01 00:00:00
1       ED1005    C005    Hindi       Rajasthan  2019-03-01 00:00:00
2       ED1001    C001    Hindi   Uttar Pradesh  2023-07-01 00:00:00
3       ED1003    C003    Hindi  Madhya_Pradesh  2023-07-01 00:00:00
4       ED1007    C007    Hindi       Jharkhand  2020-10-01 00:00:00
..         ...     ...      ...             ...                  ...
715     ED1001    C001    Hindi   Uttar Pradesh  2024-12-01 00:00:00
716     ED1002    C002  English           Delhi  2021-11-01 00:00:00
717     ED1004    C004    Hindi           Bihar  2023-07-01 00:00:00
718     ED1007    C007    Hindi       Jharkhand  2019-04-01 00:00:00
719     ED1002    C002  English           Delhi  2021-07-01 00:00:00

    Copies_Sold  Copies_Returned  Net_Circulation
0        404389            13510           390879
1        492943            25024           467919
2        168893            12285           156608
3        216540            10117           206423
4        234563            13048           221515
..          ...              ...              ...
715   â‚¹152122             7049           145073
716      356211            25456           330755
717      203130            12260           190870
718      253719            16510           237209
719      348093            11620           336473

[720 rows x 8 columns]

### Change Month format to mmm-yy and add Year and Month_Year Columns

In [9]:
df['Month']= pd.to_datetime(df['Month'])
df['Month_Year'] = df['Month'].dt.strftime('%b-%y')
df['Year'] = df['Month'].dt.strftime('%Y')
print(df)

    Edition_Id City_Id Language           State      Month Copies_Sold  \
0       ED1005    C005    Hindi       Rajasthan 2023-05-01      404389
1       ED1005    C005    Hindi       Rajasthan 2019-03-01      492943
2       ED1001    C001    Hindi   Uttar Pradesh 2023-07-01      168893
3       ED1003    C003    Hindi  Madhya_Pradesh 2023-07-01      216540
4       ED1007    C007    Hindi       Jharkhand 2020-10-01      234563
..         ...     ...      ...             ...        ...         ...
715     ED1001    C001    Hindi   Uttar Pradesh 2024-12-01   â‚¹152122
716     ED1002    C002  English           Delhi 2021-11-01      356211
717     ED1004    C004    Hindi           Bihar 2023-07-01      203130
718     ED1007    C007    Hindi       Jharkhand 2019-04-01      253719
719     ED1002    C002  English           Delhi 2021-07-01      348093

     Copies_Returned  Net_Circulation Month_Year  Year
0              13510           390879     May-23  2023
1              25024           467919     Mar-19  2019
2              12285           156608     Jul-23  2023
3              10117           206423     Jul-23  2023
4              13048           221515     Oct-20  2020
..               ...              ...        ...   ...
715             7049           145073     Dec-24  2024
716            25456           330755     Nov-21  2021
717            12260           190870     Jul-23  2023
718            16510           237209     Apr-19  2019
719            11620           336473     Jul-21  2021

[720 rows x 10 columns]

### Replace the the extra symbols

In [10]:
df['State'] = df['State'].str.replace('_',' ').str.replace('-',' ')
df['Copies_Sold'] = df['Copies_Sold'].astype(str).str.replace('â‚¹',' ')

print(df)

    Edition_Id City_Id Language           State      Month Copies_Sold  \
0       ED1005    C005    Hindi       Rajasthan 2023-05-01      404389
1       ED1005    C005    Hindi       Rajasthan 2019-03-01      492943
2       ED1001    C001    Hindi   Uttar Pradesh 2023-07-01      168893
3       ED1003    C003    Hindi  Madhya Pradesh 2023-07-01      216540
4       ED1007    C007    Hindi       Jharkhand 2020-10-01      234563
..         ...     ...      ...             ...        ...         ...
715     ED1001    C001    Hindi   Uttar Pradesh 2024-12-01      152122
716     ED1002    C002  English           Delhi 2021-11-01      356211
717     ED1004    C004    Hindi           Bihar 2023-07-01      203130
718     ED1007    C007    Hindi       Jharkhand 2019-04-01      253719
719     ED1002    C002  English           Delhi 2021-07-01      348093

     Copies_Returned  Net_Circulation Month_Year  Year
0              13510           390879     May-23  2023
1              25024           467919     Mar-19  2019
2              12285           156608     Jul-23  2023
3              10117           206423     Jul-23  2023
4              13048           221515     Oct-20  2020
..               ...              ...        ...   ...
715             7049           145073     Dec-24  2024
716            25456           330755     Nov-21  2021
717            12260           190870     Jul-23  2023
718            16510           237209     Apr-19  2019
719            11620           336473     Jul-21  2021

[720 rows x 10 columns]

###  Saved the file

In [11]:
df.to_csv("print_sales.csv",index=False)

### Load the ad_revenue dataset

In [17]:
ad_revenue = pd.read_csv("C:/Users/Arshad/Desktop/Datasets/CodeBasics/Challenge #17/Datasets/fact_ad_revenue.csv")
df1 = pd.DataFrame(ad_revenue)
print(df1)

    edition_id ad_category       quarter  ad_revenue currency  \
0       ED1005        A001       2023-Q2    22613.69      EUR
1       ED1005        A002       Q1-2019    39366.88      USD
2       ED1001        A003       Q3-2023  3709860.00      INR
3       ED1003        A002       Q3-2023    40969.55      USD
4       ED1007        A003  4th Qtr 2020    51779.40      USD
..         ...         ...           ...         ...      ...
715     ED1001        A004  4th Qtr 2024  1796584.00      INR
716     ED1002        A004  4th Qtr 2021  3341770.00      INR
717     ED1004        A001       Q3-2023    35322.16      USD
718     ED1007        A002       2019-Q2  4981620.00      INR
719     ED1002        A003       Q3-2021    17092.90      USD

                 comments
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
..                    ...
715                   NaN
716                   NaN
717                   NaN
718                   NaN
719  Real estate slowdown

[720 rows x 6 columns]

### Check Data Information

In [18]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition_id   720 non-null    object
 1   ad_category  720 non-null    object
 2   quarter      720 non-null    object
 3   ad_revenue   720 non-null    float64
 4   currency     720 non-null    object
 5   comments     38 non-null     object
dtypes: float64(1), object(5)
memory usage: 33.9+ KB
None

### Reformat column headers to title case

In [19]:
df1.columns = df1.columns.str.title()
print(df1)

    Edition_Id Ad_Category       Quarter  Ad_Revenue Currency  \
0       ED1005        A001       2023-Q2    22613.69      EUR
1       ED1005        A002       Q1-2019    39366.88      USD
2       ED1001        A003       Q3-2023  3709860.00      INR
3       ED1003        A002       Q3-2023    40969.55      USD
4       ED1007        A003  4th Qtr 2020    51779.40      USD
..         ...         ...           ...         ...      ...
715     ED1001        A004  4th Qtr 2024  1796584.00      INR
716     ED1002        A004  4th Qtr 2021  3341770.00      INR
717     ED1004        A001       Q3-2023    35322.16      USD
718     ED1007        A002       2019-Q2  4981620.00      INR
719     ED1002        A003       Q3-2021    17092.90      USD

                 Comments
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
..                    ...
715                   NaN
716                   NaN
717                   NaN
718                   NaN
719  Real estate slowdown

[720 rows x 6 columns]

### Deleted the comments column

In [20]:
df1.drop('Comments', axis= 1, inplace= True)
print(df1)

    Edition_Id Ad_Category       Quarter  Ad_Revenue Currency
0       ED1005        A001       2023-Q2    22613.69      EUR
1       ED1005        A002       Q1-2019    39366.88      USD
2       ED1001        A003       Q3-2023  3709860.00      INR
3       ED1003        A002       Q3-2023    40969.55      USD
4       ED1007        A003  4th Qtr 2020    51779.40      USD
..         ...         ...           ...         ...      ...
715     ED1001        A004  4th Qtr 2024  1796584.00      INR
716     ED1002        A004  4th Qtr 2021  3341770.00      INR
717     ED1004        A001       Q3-2023    35322.16      USD
718     ED1007        A002       2019-Q2  4981620.00      INR
719     ED1002        A003       Q3-2021    17092.90      USD

[720 rows x 5 columns]

### check uniqueness of columns

In [21]:
print(df1['Currency'].unique())
print(df1['Quarter'].unique())

['EUR' 'USD' 'INR' 'IN RUPEES']
['2023-Q2' 'Q1-2019' 'Q3-2023' '4th Qtr 2020' '2024-Q2' '2019-Q2'
 'Q3-2021' '4th Qtr 2023' '2020-Q2' '2022-Q2' '2021-Q2' '4th Qtr 2024'
 'Q1-2020' 'Q3-2022' 'Q3-2019' '4th Qtr 2021' 'Q1-2022' '4th Qtr 2022'
 'Q3-2024' 'Q1-2023' 'Q1-2024' 'Q3-2020' 'Q1-2021' '4th Qtr 2019']

### Replace the unnecessary value

In [22]:
df1['Currency'] = df1['Currency'].replace('IN RUPEES','INR')
print(df1)

    Edition_Id Ad_Category       Quarter  Ad_Revenue Currency
0       ED1005        A001       2023-Q2    22613.69      EUR
1       ED1005        A002       Q1-2019    39366.88      USD
2       ED1001        A003       Q3-2023  3709860.00      INR
3       ED1003        A002       Q3-2023    40969.55      USD
4       ED1007        A003  4th Qtr 2020    51779.40      USD
..         ...         ...           ...         ...      ...
715     ED1001        A004  4th Qtr 2024  1796584.00      INR
716     ED1002        A004  4th Qtr 2021  3341770.00      INR
717     ED1004        A001       Q3-2023    35322.16      USD
718     ED1007        A002       2019-Q2  4981620.00      INR
719     ED1002        A003       Q3-2021    17092.90      USD

[720 rows x 5 columns]

### Format the Quarter column to Q1-yyyy

In [23]:
df1[['part_1','part_2','part_3']] = df1['Quarter'].str.split(r'[- ' ']', expand =True )
df1['part_1'] = df1['part_1'].str.replace('4th','Q4')
df1['part_2'] = df1['part_2'].str.replace('Qtr',' ')

def extract_year(row):
    for col in ['part_1', 'part_2','part_3']:
        val = row[col]
        if pd.notnull(val) and str(val).isdigit() and len(str(val)) == 4:
            return str(val)
    return None

df1['Year'] = df1.apply(extract_year, axis=1)

def extract_quarter(row):
    for col in ['part_1', 'part_2']:
        val = row[col]
        if pd.notnull(val) and str(val).isalnum() and len(str(val)) == 2:
            return str(val)
    return None

df1['Quart'] = df1.apply(extract_quarter, axis=1)
df1['Quart_Year'] = df1['Quart']+ '-'+ df1['Year']

print(df1)

    Edition_Id Ad_Category       Quarter  Ad_Revenue Currency part_1 part_2  \
0       ED1005        A001       2023-Q2    22613.69      EUR   2023     Q2
1       ED1005        A002       Q1-2019    39366.88      USD     Q1   2019
2       ED1001        A003       Q3-2023  3709860.00      INR     Q3   2023
3       ED1003        A002       Q3-2023    40969.55      USD     Q3   2023
4       ED1007        A003  4th Qtr 2020    51779.40      USD     Q4
..         ...         ...           ...         ...      ...    ...    ...
715     ED1001        A004  4th Qtr 2024  1796584.00      INR     Q4
716     ED1002        A004  4th Qtr 2021  3341770.00      INR     Q4
717     ED1004        A001       Q3-2023    35322.16      USD     Q3   2023
718     ED1007        A002       2019-Q2  4981620.00      INR   2019     Q2
719     ED1002        A003       Q3-2021    17092.90      USD     Q3   2021

    part_3  Year Quart Quart_Year
0     None  2023    Q2    Q2-2023
1     None  2019    Q1    Q1-2019
2     None  2023    Q3    Q3-2023
3     None  2023    Q3    Q3-2023
4     2020  2020    Q4    Q4-2020
..     ...   ...   ...        ...
715   2024  2024    Q4    Q4-2024
716   2021  2021    Q4    Q4-2021
717   None  2023    Q3    Q3-2023
718   None  2019    Q2    Q2-2019
719   None  2021    Q3    Q3-2021

[720 rows x 11 columns]

### Deleted the unnecessary columns

In [24]:
df1.drop(['Quarter','part_1','part_2','part_3'], axis = 1, inplace = True)
print(df1)

    Edition_Id Ad_Category  Ad_Revenue Currency  Year Quart Quart_Year
0       ED1005        A001    22613.69      EUR  2023    Q2    Q2-2023
1       ED1005        A002    39366.88      USD  2019    Q1    Q1-2019
2       ED1001        A003  3709860.00      INR  2023    Q3    Q3-2023
3       ED1003        A002    40969.55      USD  2023    Q3    Q3-2023
4       ED1007        A003    51779.40      USD  2020    Q4    Q4-2020
..         ...         ...         ...      ...   ...   ...        ...
715     ED1001        A004  1796584.00      INR  2024    Q4    Q4-2024
716     ED1002        A004  3341770.00      INR  2021    Q4    Q4-2021
717     ED1004        A001    35322.16      USD  2023    Q3    Q3-2023
718     ED1007        A002  4981620.00      INR  2019    Q2    Q2-2019
719     ED1002        A003    17092.90      USD  2021    Q3    Q3-2021

[720 rows x 7 columns]

### Saved the file

In [203]:
df1.to_csv("ad_revenue.csv",index=False)

### Load the Digital Pilot dataset

In [27]:
digital_pilot = pd.read_csv("C:/Users/Arshad/Desktop/Datasets/CodeBasics/Challenge #17/Datasets/fact_digital_pilot.csv")
df2 = pd.DataFrame(digital_pilot)
print(df2.head())

   Unnamed: 0           platform launch_month ad_category_id  dev_cost  \
0           0  PDF WhatsApp Push      2021-01           A001    236570
1           1  PDF WhatsApp Push      2021-02           A001    156865
2           2  PDF WhatsApp Push      2021-03           A001    242728
3           3  PDF WhatsApp Push      2021-04           A001    147695
4           4  PDF WhatsApp Push      2021-05           A001    325906

   marketing_cost  users_reached  downloads_or_accesses  avg_bounce_rate  \
0           66060          23509                  16319            52.55
1           99122          19472                  17017            82.53
2           46087           8471                   2891            68.06
3           78868          46796                  15640            66.17
4          135644          16805                   3231            76.90

                  cumulative_feedback_from_customers
0  Mixed feedback: some usability concerns, but h...
1  Mixed feedback: some usability concerns, but h...
2  Mixed feedback: some usability concerns, but h...
3  Mixed feedback: some usability concerns, but h...
4  The site takes too long to load on average pho...

### Removed unnamed: 0 column

In [28]:
df2.drop('Unnamed: 0', axis = 1, inplace = True)
print(df2.head())

            platform launch_month ad_category_id  dev_cost  marketing_cost  \
0  PDF WhatsApp Push      2021-01           A001    236570           66060
1  PDF WhatsApp Push      2021-02           A001    156865           99122
2  PDF WhatsApp Push      2021-03           A001    242728           46087
3  PDF WhatsApp Push      2021-04           A001    147695           78868
4  PDF WhatsApp Push      2021-05           A001    325906          135644

   users_reached  downloads_or_accesses  avg_bounce_rate  \
0          23509                  16319            52.55
1          19472                  17017            82.53
2           8471                   2891            68.06
3          46796                  15640            66.17
4          16805                   3231            76.90

                  cumulative_feedback_from_customers
0  Mixed feedback: some usability concerns, but h...
1  Mixed feedback: some usability concerns, but h...
2  Mixed feedback: some usability concerns, but h...
3  Mixed feedback: some usability concerns, but h...
4  The site takes too long to load on average pho...

### Check Data Information

In [29]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   platform                            48 non-null     object
 1   launch_month                        48 non-null     object
 2   ad_category_id                      48 non-null     object
 3   dev_cost                            48 non-null     int64
 4   marketing_cost                      48 non-null     int64
 5   users_reached                       48 non-null     int64
 6   downloads_or_accesses               48 non-null     int64
 7   avg_bounce_rate                     48 non-null     float64
 8   cumulative_feedback_from_customers  47 non-null     object
dtypes: float64(1), int64(4), object(4)
memory usage: 3.5+ KB
None

### Reformat column headers to title case

In [30]:
df2.columns = df2.columns.str.title()
print(df2.head())

            Platform Launch_Month Ad_Category_Id  Dev_Cost  Marketing_Cost  \
0  PDF WhatsApp Push      2021-01           A001    236570           66060
1  PDF WhatsApp Push      2021-02           A001    156865           99122
2  PDF WhatsApp Push      2021-03           A001    242728           46087
3  PDF WhatsApp Push      2021-04           A001    147695           78868
4  PDF WhatsApp Push      2021-05           A001    325906          135644

   Users_Reached  Downloads_Or_Accesses  Avg_Bounce_Rate  \
0          23509                  16319            52.55
1          19472                  17017            82.53
2           8471                   2891            68.06
3          46796                  15640            66.17
4          16805                   3231            76.90

                  Cumulative_Feedback_From_Customers
0  Mixed feedback: some usability concerns, but h...
1  Mixed feedback: some usability concerns, but h...
2  Mixed feedback: some usability concerns, but h...
3  Mixed feedback: some usability concerns, but h...
4  The site takes too long to load on average pho...

### Check uniquness of the columns

In [31]:
print(df2['Platform'].unique())
print(df2['Cumulative_Feedback_From_Customers'].unique())
print(df2['Launch_Month'].unique())

['PDF WhatsApp Push' 'E-paper Mobile Web' 'Mobile App Beta'
 'Responsive Web Version']
['Mixed feedback: some usability concerns, but high interest in WhatsApp format.'
 'The site takes too long to load on average phones.\nPeople didn’t wait around.'
 'Many said font was too tiny to read.\nZooming didn’t help on small screens.'
 nan]
['2021-01' '2021-02' '2021-03' '2021-04' '2021-05' '2021-06' '2021-07'
 '2021-08' '2021-09' '2021-10' '2021-11' '2021-12']

### Change the lauch month format from yyyy-mm to mmm-yy

In [32]:
df2[['Year','Month']] = df2['Launch_Month'].str.split('-', expand = True)
df2.drop('Launch_Month', axis = 1, inplace = True)
df2['Launch Month'] = df2['Month']+ '-'+ df2['Year']
df2['Launch Month']= pd.to_datetime(df2['Launch Month'])
df2['Launch Month']= df2['Launch Month'].dt.strftime('%b-%y')
print(df2.head())

            Platform Ad_Category_Id  Dev_Cost  Marketing_Cost  Users_Reached  \
0  PDF WhatsApp Push           A001    236570           66060          23509
1  PDF WhatsApp Push           A001    156865           99122          19472
2  PDF WhatsApp Push           A001    242728           46087           8471
3  PDF WhatsApp Push           A001    147695           78868          46796
4  PDF WhatsApp Push           A001    325906          135644          16805

   Downloads_Or_Accesses  Avg_Bounce_Rate  \
0                  16319            52.55
1                  17017            82.53
2                   2891            68.06
3                  15640            66.17
4                   3231            76.90

                  Cumulative_Feedback_From_Customers  Year Month Launch Month
0  Mixed feedback: some usability concerns, but h...  2021    01       Jan-21
1  Mixed feedback: some usability concerns, but h...  2021    02       Feb-21
2  Mixed feedback: some usability concerns, but h...  2021    03       Mar-21
3  Mixed feedback: some usability concerns, but h...  2021    04       Apr-21
4  The site takes too long to load on average pho...  2021    05       May-21

C:\Users\Arshad\AppData\Local\Temp\ipykernel_22200\734687032.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['Launch Month']= pd.to_datetime(df2['Launch Month'])

### Divide the avg_bounce_rate by 100

In [33]:
df2['Avg_Bounce_Rate'] = df2['Avg_Bounce_Rate']/100
print(df2.head())

            Platform Ad_Category_Id  Dev_Cost  Marketing_Cost  Users_Reached  \
0  PDF WhatsApp Push           A001    236570           66060          23509
1  PDF WhatsApp Push           A001    156865           99122          19472
2  PDF WhatsApp Push           A001    242728           46087           8471
3  PDF WhatsApp Push           A001    147695           78868          46796
4  PDF WhatsApp Push           A001    325906          135644          16805

   Downloads_Or_Accesses  Avg_Bounce_Rate  \
0                  16319           0.5255
1                  17017           0.8253
2                   2891           0.6806
3                  15640           0.6617
4                   3231           0.7690

                  Cumulative_Feedback_From_Customers  Year Month Launch Month
0  Mixed feedback: some usability concerns, but h...  2021    01       Jan-21
1  Mixed feedback: some usability concerns, but h...  2021    02       Feb-21
2  Mixed feedback: some usability concerns, but h...  2021    03       Mar-21
3  Mixed feedback: some usability concerns, but h...  2021    04       Apr-21
4  The site takes too long to load on average pho...  2021    05       May-21

### Saved the file

In [10]:
df2.to_csv("digital_pilot.csv",index=False)

### Load the City_readiness dataset

In [36]:
city_readiness = pd.read_csv("C:/Users/Arshad/Desktop/Datasets/CodeBasics/Challenge #17/Datasets/fact_city_readiness.csv")
df3 = pd.DataFrame(city_readiness)
print(df3)

     Unnamed: 0 city_id  quarter  literacy_rate  smartphone_penetration  \
0             0    C001  2019-Q1          89.16                   75.76
1             1    C001  2019-Q2          88.76                   76.45
2             2    C001  2019-Q3          88.83                   75.32
3             3    C001  2019-Q4          89.25                   75.83
4             4    C001  2020-Q1          89.13                   75.03
..          ...     ...      ...            ...                     ...
235         235    C010  2023-Q4          70.92                   77.75
236         236    C010  2024-Q1          70.77                   77.29
237         237    C010  2024-Q2          70.79                   77.86
238         238    C010  2024-Q3          70.81                   77.53
239         239    C010  2024-Q4          70.79                   78.67

     internet_penetration
0                   56.53
1                   55.97
2                   56.52
3                   56.94
4                   56.45
..                    ...
235                 74.83
236                 74.30
237                 76.16
238                 75.04
239                 75.28

[240 rows x 6 columns]

### Removed unnamed: 0 column

In [37]:
df3.drop('Unnamed: 0', axis = 1, inplace = True)
print(df3)

    city_id  quarter  literacy_rate  smartphone_penetration  \
0      C001  2019-Q1          89.16                   75.76
1      C001  2019-Q2          88.76                   76.45
2      C001  2019-Q3          88.83                   75.32
3      C001  2019-Q4          89.25                   75.83
4      C001  2020-Q1          89.13                   75.03
..      ...      ...            ...                     ...
235    C010  2023-Q4          70.92                   77.75
236    C010  2024-Q1          70.77                   77.29
237    C010  2024-Q2          70.79                   77.86
238    C010  2024-Q3          70.81                   77.53
239    C010  2024-Q4          70.79                   78.67

     internet_penetration
0                   56.53
1                   55.97
2                   56.52
3                   56.94
4                   56.45
..                    ...
235                 74.83
236                 74.30
237                 76.16
238                 75.04
239                 75.28

[240 rows x 5 columns]

### Check Data Information

In [38]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_id                 240 non-null    object
 1   quarter                 240 non-null    object
 2   literacy_rate           240 non-null    float64
 3   smartphone_penetration  240 non-null    float64
 4   internet_penetration    240 non-null    float64
dtypes: float64(3), object(2)
memory usage: 9.5+ KB
None

### Reformat column headers to title case

In [39]:
df3.columns = df3.columns.str.title()
print(df3)

    City_Id  Quarter  Literacy_Rate  Smartphone_Penetration  \
0      C001  2019-Q1          89.16                   75.76
1      C001  2019-Q2          88.76                   76.45
2      C001  2019-Q3          88.83                   75.32
3      C001  2019-Q4          89.25                   75.83
4      C001  2020-Q1          89.13                   75.03
..      ...      ...            ...                     ...
235    C010  2023-Q4          70.92                   77.75
236    C010  2024-Q1          70.77                   77.29
237    C010  2024-Q2          70.79                   77.86
238    C010  2024-Q3          70.81                   77.53
239    C010  2024-Q4          70.79                   78.67

     Internet_Penetration
0                   56.53
1                   55.97
2                   56.52
3                   56.94
4                   56.45
..                    ...
235                 74.83
236                 74.30
237                 76.16
238                 75.04
239                 75.28

[240 rows x 5 columns]

### check the uniquness of column

In [35]:
print(df3['Quarter'].unique())

['2019-Q1' '2019-Q2' '2019-Q3' '2019-Q4' '2020-Q1' '2020-Q2' '2020-Q3'
 '2020-Q4' '2021-Q1' '2021-Q2' '2021-Q3' '2021-Q4' '2022-Q1' '2022-Q2'
 '2022-Q3' '2022-Q4' '2023-Q1' '2023-Q2' '2023-Q3' '2023-Q4' '2024-Q1'
 '2024-Q2' '2024-Q3' '2024-Q4']

### Change Quarter format to Q - yyyy

In [41]:
df3[['Year','Quart']] = df3['Quarter'].str.split('-', expand= True)
df3.drop('Quarter', axis =1, inplace = True)
df3['Quart_Year'] = df3['Quart']+ '-'+ df3['Year']
print(df3)

    City_Id  Literacy_Rate  Smartphone_Penetration  Internet_Penetration  \
0      C001          89.16                   75.76                 56.53
1      C001          88.76                   76.45                 55.97
2      C001          88.83                   75.32                 56.52
3      C001          89.25                   75.83                 56.94
4      C001          89.13                   75.03                 56.45
..      ...            ...                     ...                   ...
235    C010          70.92                   77.75                 74.83
236    C010          70.77                   77.29                 74.30
237    C010          70.79                   77.86                 76.16
238    C010          70.81                   77.53                 75.04
239    C010          70.79                   78.67                 75.28

     Year Quart Quart_Year
0    2019    Q1    Q1-2019
1    2019    Q2    Q2-2019
2    2019    Q3    Q3-2019
3    2019    Q4    Q4-2019
4    2020    Q1    Q1-2020
..    ...   ...        ...
235  2023    Q4    Q4-2023
236  2024    Q1    Q1-2024
237  2024    Q2    Q2-2024
238  2024    Q3    Q3-2024
239  2024    Q4    Q4-2024

[240 rows x 7 columns]

### Divide the Literacy_Rate, Smartphone_Penetration, Internet_Penetration coulmn values by 100

In [42]:
columns_to_change = ['Literacy_Rate','Smartphone_Penetration', 'Internet_Penetration']
for col in columns_to_change:
    df3[col] = df3[col]/100
    
print(df3)

    City_Id  Literacy_Rate  Smartphone_Penetration  Internet_Penetration  \
0      C001         0.8916                  0.7576                0.5653
1      C001         0.8876                  0.7645                0.5597
2      C001         0.8883                  0.7532                0.5652
3      C001         0.8925                  0.7583                0.5694
4      C001         0.8913                  0.7503                0.5645
..      ...            ...                     ...                   ...
235    C010         0.7092                  0.7775                0.7483
236    C010         0.7077                  0.7729                0.7430
237    C010         0.7079                  0.7786                0.7616
238    C010         0.7081                  0.7753                0.7504
239    C010         0.7079                  0.7867                0.7528

     Year Quart Quart_Year
0    2019    Q1    Q1-2019
1    2019    Q2    Q2-2019
2    2019    Q3    Q3-2019
3    2019    Q4    Q4-2019
4    2020    Q1    Q1-2020
..    ...   ...        ...
235  2023    Q4    Q4-2023
236  2024    Q1    Q1-2024
237  2024    Q2    Q2-2024
238  2024    Q3    Q3-2024
239  2024    Q4    Q4-2024

[240 rows x 7 columns]

### Saved the file

In [204]:
df3.to_csv("city_readiness.csv",index=False)

### Load the dim_city dataset

In [11]:
dim_city = pd.read_excel("C:/Users/Arshad/Desktop/Datasets/CodeBasics/Challenge #17/Datasets/dim_city.xlsx")
df4 = pd.DataFrame(dim_city)
print(df4)

  city_id       city           state    tier
0    C001    lucknow   Uttar Pradesh  Tier 2
1    C002      Delhi           DELHI  Tier 1
2    C003     bhopal  Madhya Pradesh  Tier 2
3    C004      Patna           BIHAR  Tier 2
4    C005     jaipur       Rajasthan  Tier 2
5    C006     Mumbai     MAHARASHTRA  Tier 1
6    C007     ranchi       JHARKHAND  Tier 3
7    C008     kanpur   UTTAR PRADESH  Tier 2
8    C009  Ahmedabad         GUJARAT  Tier 1
9    C010   Varanasi   Uttar Pradesh  Tier 2

### Reformat column headers to title case

In [12]:
df4.columns = df4.columns.str.title()
print(df4)

  City_Id       City           State    Tier
0    C001    lucknow   Uttar Pradesh  Tier 2
1    C002      Delhi           DELHI  Tier 1
2    C003     bhopal  Madhya Pradesh  Tier 2
3    C004      Patna           BIHAR  Tier 2
4    C005     jaipur       Rajasthan  Tier 2
5    C006     Mumbai     MAHARASHTRA  Tier 1
6    C007     ranchi       JHARKHAND  Tier 3
7    C008     kanpur   UTTAR PRADESH  Tier 2
8    C009  Ahmedabad         GUJARAT  Tier 1
9    C010   Varanasi   Uttar Pradesh  Tier 2

### Check uniquess of columns

In [16]:
print(df4['City'].unique())
print(df4['State'].unique())

['lucknow' 'Delhi' 'bhopal' 'Patna' 'jaipur' 'Mumbai' 'ranchi' 'kanpur'
 'Ahmedabad' 'Varanasi']
['Uttar Pradesh' 'DELHI' 'Madhya Pradesh' 'BIHAR' 'Rajasthan'
 'MAHARASHTRA' 'JHARKHAND' 'UTTAR PRADESH' 'GUJARAT']

### Format city and state values

In [17]:
columns_to_change = ['City','State']
for col in columns_to_change:
    df4[col] = df4[col].str.title()
    
print(df4)

  City_Id       City           State    Tier
0    C001    Lucknow   Uttar Pradesh  Tier 2
1    C002      Delhi           Delhi  Tier 1
2    C003     Bhopal  Madhya Pradesh  Tier 2
3    C004      Patna           Bihar  Tier 2
4    C005     Jaipur       Rajasthan  Tier 2
5    C006     Mumbai     Maharashtra  Tier 1
6    C007     Ranchi       Jharkhand  Tier 3
7    C008     Kanpur   Uttar Pradesh  Tier 2
8    C009  Ahmedabad         Gujarat  Tier 1
9    C010   Varanasi   Uttar Pradesh  Tier 2

### Saved the file

In [18]:
df4.to_csv("dim_city.csv",index=False)